body {
  font-family: "Josefin Sans", sans-serif;
}

ul {
  display: flex;
  justify-content: space-evenly;
}
nav {
  border-bottom: 3px solid #010101;
  background-color: #010101;
  z-index: 2;
}
.navbar-brand {
  border-right: 1.5px solid #010101;
  padding-right: 1.5%;
}
.nav-item {
  font-size: 1.2rem;
}
h1 {
  font-size: 4rem;
  padding: 1%;
  color: #010101;
}
h3 {
  text-align: center;
  font-size: 1.7rem;
  color: #010101;
}
h2 {
  font-size: 3rem;
  color: #010101;
}
.btn-light {
  font-weight: 600;
  color: #010101;
}

.shipping-row {
  margin-bottom: 5%;
}

.container {
  text-align: center;
  position: absolute;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.home-container {
  text-align: center;
  position: absolute;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 3%;
  color: #010101;
  box-shadow: 0 3px 7px 0 #010101, 0 5px 15px 0 #010101;
  border-radius: 2rem;
}
.card {
  border: 3px solid #010101;
  margin: 3%;
  box-shadow: 0 3px 7px 0 #010101, 0 5px 15px 0 #010101;
}
.card p{
  font-weight: 700;
}
.contact{
  text-align: start;
}
.contact h1{
  text-align: center;
}
.contact a{
  color: #010101;
}

.product-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-img-top{
  height: 21rem;
}
.price{
  border-bottom: 2px solid #010101;
  width: fit-content;
  text-align: center;
}
.modal-img{
  width: 95%;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #010101;
  height: 2rem;
  color: white;
  text-align: center;
}
.product-contact{
  margin-bottom: 3%;
}

@media only screen and (max-width: 573px) {
  h1 {
    font-size: 2.5rem;
    padding: 1%;
  }
  h3 {
    text-align: center;
    font-size: 1rem;
  }
  .home-container {
    width: 90%;
  }
  .btn-light {
    font-weight: 400;
    font-size: smaller;
  }
  
}
@media only screen and (max-width: 768px) {
  .contact h2{
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 990px) {
  .navbar-brand {
    border-right: 0;
    padding-right: 1.5%;
  }
}
